@import "src/styles/constants";

.button {
  min-width: 100px;
  height: 34px;
  border: 1px solid transparent;
  border-radius: 80px;
  background-color: $primary-color;
  color: $black-color;


  &:hover {
    border: 1px solid $black-color;
    box-shadow: 0 4px 4px rgb(0 0 0 / 10%);
  }

  &:disabled {
    border: 1px solid transparent;
    background-color: $medium-gray-color;
    color: $white-color;
    box-shadow: none;
    cursor: not-allowed;
  }
}