.out-paddings {
  width: 100%;
  max-width: 1170px;
  height: 100%;
  margin: 0 auto;
}

.container {
  overflow: hidden;
  width: 100%;
}

.container-pc {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0;
}

.container-laptop {
  padding: 0 60px;
}

.container-tablet {
  padding: 0 32px;
}

.container-mobile {
  padding: 0 16px;
}