@import 'src/styles/constants';

$card-width-mobile: 328px;
$card-width-tablet: 344px;
$card-width-large: 282px;
$card-width-xl: 370px;
$gap-default: 29px;
$gap-mobile: 20px;
$gap-tablet: 16px;

.content {
  display: grid;
  grid-auto-flow: row;
  gap: $gap-default;
  justify-content: center;
  margin-bottom: 50px;

  @media screen and (360px >= width) {
    grid-template-columns: repeat(1, $card-width-mobile);
    gap: $gap-mobile;
  }

  @media screen and (361px <= width <= 767px) {
    grid-template-columns: repeat(auto-fill, $card-width-mobile);
    gap: $gap-tablet;
  }

  @media screen and (768px <= width) {
    grid-template-columns: repeat(2, $card-width-tablet);
    gap: $gap-tablet;
  }

  @media screen and (769px <= width <= 1023px) {
    grid-template-columns: repeat(auto-fill, $card-width-large);
  }

  @media screen and (1024px <= width <= 1169px) {
    grid-template-columns: repeat(3, minmax($card-width-large, 1fr));
  }

  @media screen and (1170px <= width) {
    grid-template-columns: repeat(3, $card-width-xl);
  }
}
