@import "../../../../styles/constants";
@import "../../../../styles/mixins";

.wrapper {
  height: 54px;
  text-align: left;
}

.label {
  top: 50%;
}

.input {
  @include text-default-style;
  @include max-size;

  position: relative;
  padding: 16px 14px;
  border: 1px solid $light-gray-color;
  border-radius: 4px;
  color: $dark-gray-color;
  outline: none;

  &.error {
    @include error-border;
  }
}

.helper {
  @include text-small-style;

  display: block;
  padding-left: 14px;
  color: $dark-gray-color;

  &.hide {
    visibility: hidden;
  }

  &.show {
    visibility: visible;
  }

  &.error {
    color: $red-color;
  }
}






