@import "src/styles/constants";
@import "src/styles/animations";
@import "src/styles/mixins";

.form-section {
  @include animation-fade-in
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 380px;
  margin: 0 auto;
}

.form-content {
  margin-bottom: 50px;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-bottom: 43px;
}

.button {
  margin: 0 auto;
}
