@import "src/styles/index";

.hero {
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
  height: 500px;
}

.hero-content {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 100;
  width: 328px;
  margin-top: 40px;
  transform: translate(-50%);
}

.title {
  @include text-h1-style;

  margin-bottom: 21px;
  color: $white-color;
}

.text {
  @include text-default-style;

  margin-bottom: 32px;
  color: $white-color;
}

@media screen and (width >= 480px) {
  .hero-content {
    width: 380px;
    margin-top: 70px;
  }
}

@media screen and (width >= 768px) {
  .hero-content {
    width: 380px;
    margin-top: 89px;
  }
}

@media screen and (width >= 1024px) {
  .hero {
    height: 650px;
  }

  .hero-content {
    margin-top: 164px;
  }
}
