@import "src/styles/mixins";
@import "src/styles/constants";

.input-file-uploader {
  @include flex-centered;

  position: relative;
  max-width: 380px;
  height: 54px;
  border: 1px solid $light-gray-color;
  border-left: none;
  border-radius: 0 4px 4px 0;

  &.wrong {
    @include error-border;

    border-left: none;
  }
}

.input {
  @include flex-centered;
  @include max-size;

  position: absolute;
  align-items: center;
  visibility: hidden;
}

.label {
  @include max-size;

  overflow: hidden;
  padding: 13px 15px 0 100px;
  color: $dark-gray-color;
  text-align: start;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;

  &::after {
    @include flex-centered;

    content: 'Upload';
    position: absolute;
    top: -1px;
    left: -2px;
    width: 83px;
    height: 54px;
    border: 1px solid $black-color;
    border-radius: 4px 0 0 4px;
  }

  &.wrong {
    padding-top: 12px;
  }

  &.wrong::after {
    @include error-border;

    top: -2.2px;
  }
}

.helper {
  @include input-helper;

  color: $red-color;
}