//Colors
$primary-color: #F4E041;
$secondary-color: #00BDD3;
$bg-color: #F8F8F8;
$black-color: #000;
$white-color: #FFF;
$light-gray-color: #D0CFCF;
$medium-gray-color: #B4B4B4;
$dark-gray-color: #7E7E7E;
$red-color: #CB3D40;
