@import "./constants";
@import "./mixins";
@import "./fonts";
@import "./animations";
@import "./resetStyles";

#root {
  width: 100%;
  margin: 0 auto;
  background-color: $bg-color;
  text-align: center;
}

body {
  @include text-default-style;

  font-family: $font-family-default;
}

h1 {
  @include text-h1-style;
}

h2 {
  @include text-h2-style;
}

button {
  @include text-default-style;
}