@import "constants";

@mixin error-border {
  border: 2px solid $red-color;
}

@mixin input-helper {
  display: block;
  padding-left: 14px;
  font-size: 12px;
  text-align: start;
}

@mixin max-size {
  width: 100%;
  height: 100%;
}

@mixin flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin text-h1-style {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
}

@mixin text-h2-style {
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
}

@mixin text-default-style {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}

@mixin text-small-style {
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
}
