:root {
  color: rgb(0 0 0 / 100%);
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
fieldset {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizespeed;
}

button {
  border: none;
  outline: none;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
input,
button {
  font-family: inherit;
}

img {
  display: inline-block;
  max-width: 100%;
  user-select: none;
}