@import "src/styles/constants";
@import "src/styles/mixins";

.wrapper {
  margin-bottom: 47px;
}

.title {
  display: block;
  margin-bottom: 11px;
  text-align: left;
}

.fieldset {
  border: none;
  text-align: left;
}

.fieldset-row:not(:last-child) {
  margin-bottom: 7px;
}

.label {
  position: relative;
  margin-left: 32px;
  cursor: pointer;
}

.radio {
  position: absolute;
  margin-right: 12px;
  visibility: hidden;
  cursor: pointer;

  &:checked + label::before {
    border: 1px solid $secondary-color;
  }

  &:checked + label::after {
    visibility: visible;
  }
}

.label::before {
  content: '';
  position: absolute;
  top: 1px;
  left: -31px;
  width: 20px;
  height: 20px;
  border: 1px solid $light-gray-color;
  border-radius: 50%;
}

.label::after {
  content: '';
  position: absolute;
  top: 6px;
  left: -26px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: $secondary-color;
  visibility: hidden;
}

.helper {
  @include input-helper;

  color: $red-color;
}