@import "src/styles/animations";

.card {
  @include animation-fade-in;

  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
}

.img-wrapper {
  height: 70px;
  margin-bottom: 20px;
}

.photo {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.name {
  margin-bottom: 20px;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.text {
  margin-bottom: 6px;
}



