
.header {
  background-color: var(--white-color);
}

.inner {
  display: flex;
  gap: 14px;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.buttons {
  display: flex;
  gap: 10px;
}